.custom-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-toggle {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.dropdown-item.selected {
    background-color: #007bff;
    color: #fff;
}

.ct_multi_drop_custom_main .dropdown-toggle:after {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.ct_verticle_middle {
    vertical-align: middle;
}

.ct_multi_drop_custom_main .dropdown-toggle {
    padding: 13.27px 10px;
}

span.selected-seat {
    background: #3b82f6;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
}

.ct_multi_drop_custom_main .dropdown-toggle span {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.ct_multi_drop_custom_scroll {
    height: auto;
    max-height: 254px;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.09);
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
}

.ct_multi_drop_custom_scroll .dropdown-item {
    border-radius: 5px;
}

.ct_multi_drop_custom_scroll .dropdown-item+.dropdown-item {
    margin-top: 5px;
}

.ct_multi_drop_custom_scroll .dropdown-item:hover {
    background-color: #3b82f6;
    color: #fff;
}