<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" *ngIf="mode == 'create'">Add Cateogry</h5>
        <h5 class="modal-title" *ngIf="mode == 'update'">Update Cateogry</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closePopup">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form role="form" [formGroup]="form" (submit)="onSave()">
        <div class="box-body" *ngIf="isLoadingUpdate">
            <mat-spinner class="mx-auto"></mat-spinner>
        </div>
        <div class="modal-body" *ngIf="!isLoadingUpdate">
            <div class="box-body">
                <div class="form-group"
                    [ngClass]="{'has-error': form.get('category_name').invalid  && form.get('category_name').touched}">
                    <label>Category Name</label>
                    <input type="text" class="form-control" placeholder="Enter category name"
                        formControlName="category_name" />
                    <span class="help-block"
                        *ngIf="form.get('category_name').invalid  && form.get('category_name').touched">
                        Please enter a category name.
                    </span>
                </div>
                <!-- <div class="form-group"
                    [ngClass]="{'has-error': form.get('status').invalid  && form.get('status').touched}">
                    <label>Status</label>
                    <select class="form-control" formControlName="status">
                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                    </select>
                    <span class="help-block"
                        *ngIf="form.get('status').invalid  && form.get('status').touched">
                        Please select a status.
                    </span>
                </div> -->
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary pull-left" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" [disabled]="isLoading">
                <span *ngIf="!isLoading">
                    <span *ngIf="mode === 'create'">Add</span>
                    <span *ngIf="mode === 'update'">Update</span>
                </span>
                <span *ngIf="isLoading">
                    <i class="fa fa-refresh fa-spin"></i>
                </span>
            </button>
        </div>
    </form>
</div>
