<div class="login-page">
  <div class="login-box">
    <div class="w-100">
      <div class="login-logo">
        <!-- <b>Admin</b>LTE -->
        <img src="assets/img/logo/logo-app.png" alt="User Image">
        <!-- <a href="../../index2.html"></a></a> -->
      </div>
      <!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Forgot Password</p>
        <form [formGroup]="form"  class="mb-2">
          <div class="form-group has-feedback">
            <input type="email" class="form-control" placeholder="Email" formControlName="email">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            <span class="error-message" *ngIf="form.get('email').invalid && form.get('email').touched">Please Enter
              Email</span>
          </div>

          <div class="">
            <div class="col-xs-4">
              <button (click)="onLogin()" type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="isLoading">
                <span *ngIf="!isLoading">Submit</span>
                <span *ngIf="isLoading"><i class="fa fa-refresh fa-spin"></i></span>
              </button>
            </div>
            <!-- /.col -->
          </div>
        </form>
        <a routerLink="/" class="">Login</a><br>
      </div>
    </div>
    <!-- /.login-box-body -->
  </div>
</div>