<div class="hold-transition sidebar-mini" [ngClass]="{'skin-blue': checkAdminType(),'skin-red-light': !checkAdminType()}">
  <div class="wrapper">

      <app-header></app-header>
    <!-- Left side column. contains the logo and sidebar -->
    <app-sidebar></app-sidebar>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Provident Fund
        </h1>
        <span class="breadcrumb">
          <button type="button" class="btn bg-maroon mr-2" data-toggle="modal" data-target="#exampleModalAdd" (click)="openModal()">
            Debit
          </button>
          <a class="btn btn-primary" [routerLink]="['/user/singleUserDetail', userId, groupId]">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
          </a>
        </span>
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">Provident Fund List</h3>
                <div class="row justify-content-end">
                  <div class="col-md-4 col-sm-4">
                    <div class="loanbox">
                      <p>Balance: <span class="float-right">{{pfAmount}}</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.box-header -->
              <div class="overlay" *ngIf="isLoadingPage && !isLoading">
                <i class="fa fa-refresh fa-spin"></i>
              </div>
              <div class="box-body"  *ngIf="isLoading">
                <mat-spinner  class="mx-auto"></mat-spinner>
              </div>
              <div class="box-body" *ngIf="lists.length > 0 && !isLoading">
                  <table id="example2" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>Created on</th>
                        <th>Pf Amount</th>
                        <th>Pf Percent</th>
                        <th>Pf Interest amount</th>
                        <th>Pf type</th>
                        <th>Loan type</th>
                        <th>Payment Type</th>
                        <th>Note Title</th>
                        <th>Note Description</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let list of lists;let i = index">
                          <td>{{list.created_at | date: 'dd MMM yyyy'}}</td>
                          <td>{{list.pf_amount| number:'1.0-0'}}</td>
                          <td>{{list.pf_percent}}</td>
                          <td>{{list.pf_interest_amount}}</td>
                          <td>
                            <span *ngIf="list.payment_by == '1'">
                              <span class="badge badge-primary" *ngIf="list.pf_type == '1'">Payout</span>
                            <span class="badge badge-dark" *ngIf="list.pf_type == '2'">Safe Keeping</span>
                            </span>
                            <span class="badge badge-dark" *ngIf="list.payment_by == '2'">Cycle</span>
                            <span class="badge badge-primary" *ngIf="list.payment_by == '3'">Loan</span>
                            <span class="badge badge-dark" *ngIf="list.payment_by == '4'">Emergency Loan</span>
                            <span class="badge badge-primary" *ngIf="list.payment_by == '5'">Investment</span>
                            <span class="badge badge-dark" *ngIf="list.payment_by == '6'">Direct</span>
                            <span class="badge badge-primary" *ngIf="list.payment_by == '7'">Safekeeping</span>
                          </td>
                          <td>
                            <span class="badge badge-primary" *ngIf="list.loan_type == '1'">Loan</span>
                            <span class="badge badge-primary" *ngIf="list.loan_type == '2'">Help2 Pay(Car Insurance)</span>
                            <span class="badge badge-primary" *ngIf="list.loan_type == '3'">Help2 Buy</span>
                            <span class="badge badge-primary" *ngIf="list.loan_type == '4'">Help2 Pay(credit card)</span>
                            <span class="badge badge-primary" *ngIf="list.loan_type == '5'">Help2 Pay(other)</span>
                            <span class="badge badge-primary" *ngIf="list.loan_type == '6'">Help2 Buy(property)</span>
                          </td>
                          <td>
                            <span class="badge badge-danger" *ngIf="list.payment_type == '1'">Debit</span>
                            <span class="badge badge-success" *ngIf="list.payment_type == '2'">Credit</span>
                          </td>
                          <td>{{list.note_title}}</td>
                          <td>{{list.note_description}}</td>
                      </tr>
                      </tbody>
                  </table>
              </div>
              <mat-paginator [length]="totalLists" [pageSize]="listsPerPage"  (page)="onChangedPage($event)"
                *ngIf="lists.length > 0"></mat-paginator>
              <div class="box-body"  *ngIf="lists.length <= 0 && !isLoading">
                No provident occurred yet
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <app-footer></app-footer>
  </div>
  </div>
  <!-- ./wrapper -->


  <div class="modal fade show" id="exampleModalAdd" [ngStyle]="{'display':display}">
    <div class="modal-dialog">
      <app-pf-add [userId]= "userId" [groupId] = "groupId" [eachChange]= "eachChange" [add]= "add" (valueChange)="hidePopup($event)" (closeModal)="closeModalF($event)"></app-pf-add>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
