<div class="modal-content">
  <div class="modal-header">
      <h1 class="modal-title mb-0 pl-2" *ngIf="mode == 'create'">Add loan account</h1>
      <h1 class="modal-title mb-0 pl-2" *ngIf="mode == 'update'">Update loan account</h1>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closePopup" (click)="onClose()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <form role="form" [formGroup]="form" (submit)="onSave()">
      <div class="box-body" *ngIf="isLoadingUpdate">
          <mat-spinner class="mx-auto"></mat-spinner>
      </div>
      <div class="modal-body ct_overflow_hidden" *ngIf="!isLoadingUpdate">
          <div class="col-md-12">
              <div class="form-group" [ngClass]="{'has-error': form.get('loan_amount').invalid  && form.get('loan_amount').touched}">
                  <label>Amounts</label>
                  <div *ngIf="loan!==undefined">
                    <input type="text" class="form-control" placeholder="Enter Amount" formControlName="loan_amount" [readonly]="loan.status != '1'" />
                  </div>
                  <span class="help-block" *ngIf="form.get('loan_amount').invalid  && form.get('loan_amount').touched">
                    Please enter a Amount.
                  </span>
              </div>
              <div class="form-group" [ngClass]="{'has-error': form.get('created_at').invalid  && form.get('created_at').touched}">
                <label>Created On</label>
                <input type="date" class="form-control" placeholder="Enter Contact number" formControlName="created_at" />
                <span class="help-block" *ngIf="form.get('created_at').invalid  && form.get('created_at').touched">
                Please enter a created on.
                </span>
              </div>
              <div class="form-group" [ngClass]="{'has-error': form.get('tenure').invalid  && form.get('tenure').touched}">
                <label>Loan term</label>
                <select class="form-control" formControlName="tenure" >
                  <option value='40'>40 Months</option>
                </select>
                <span class="help-block" *ngIf="form.get('tenure').invalid  && form.get('tenure').touched">
                  Please enter a tenure.
                </span>
            </div>
            <div class="form-group" [ngClass]="{'has-error': form.get('loan_type').invalid  && form.get('loan_type').touched}">
              <label>Loan Type</label>
              <select class="form-control" formControlName="loan_type" disabled='true'>
                <option value=''>Select loan type</option>
                <option value='1'>loan</option>
                <option value='2'>Car Insurance Loan</option>
                <option value='3'>Help me Buy a Car</option>
                <option value='4'>Help me pay off credit card</option>
                <option value='5'>Help me pay something else</option>
                <option value='6'>Help me raise my house deposit</option>
              </select>
              <span class="help-block" *ngIf="form.get('loan_type').invalid  && form.get('loan_type').touched">
                Please enter a Loan Type.
              </span>
          </div>
            <div class="form-group" [ngClass]="{'has-error': form.get('contact_number').invalid  && form.get('contact_number').touched}">
              <label>Contact Number</label>
              <input type="text" class="form-control" placeholder="Enter Contact number" formControlName="contact_number" />
              <span class="help-block" *ngIf="form.get('contact_number').invalid  && form.get('contact_number').touched">
                Please enter a contact number.
              </span>
          </div>
          <div class="form-group" [ngClass]="{'has-error': form.get('status').invalid  && form.get('status').touched}" *ngIf="adminType === '2'">
            <div *ngIf="loan!==undefined">
              <div class="d-inline mr-3" *ngIf="loan.status == '1' || loan.status == '5'">
                <input type="radio" id="html" formControlName="status" value="4" class="radio-it">
                <label for="html">Accepted</label>
              </div>
              <div class="d-inline" *ngIf="loan.status == '1' || loan.status == '3' || loan.status == '5'">
                 <input type="radio" id="css" formControlName="status" value="3" class="radio-it">
                 <label for="css">Decline</label>
              </div>
              <!-- <div class="d-inline" *ngIf="loan.status == '2' || loan.status == '4'">total_payment -->
                <div class="d-inline" *ngIf="loan.status == '2' || loan.status == '4'">
                <!-- <div class="d-inline" *ngIf="loan.paid_amount >= loan.total_payment"> -->
                <input type="radio"  id="javascript" formControlName="status" value="2"  class="radio-it">
                &nbsp;<label for="css">Completed</label>
              </div>
              <span class="help-block" *ngIf="form.get('status').invalid  && form.get('status').touched">
                Please select a Status.
              </span>
            </div>
        </div>

        <div class="form-group" [ngClass]="{'has-error': form.get('status').invalid  && form.get('status').touched}" *ngIf="adminType === '1'">
          <div *ngIf="loan!==undefined">
            <div class="d-inline mr-3" *ngIf="loan.status == '1'">
              <input type="radio" id="html" formControlName="status" value="5" class="radio-it">
              <label for="html">Process to Super Admin</label>
            </div>
            <div class="d-inline" *ngIf="loan.status == '1'">
               <input type="radio" id="css" formControlName="status" value="6" class="radio-it">
               <label for="css">Deny</label>
            </div>
          </div>
      </div>
              <div class="form-group" [ngClass]="{'has-error': form.get('note_title').invalid  && form.get('note_title').touched}">
                  <label>Note Title</label>
                  <input type="text" class="form-control" placeholder="Enter Title" formControlName="note_title" />
                  <span class="help-block" *ngIf="form.get('note_title').invalid  && form.get('note_title').touched">
                    Please enter a Title.
                  </span>
              </div>
              <div class="form-group" [ngClass]="{'has-error': form.get('note_description').invalid  && form.get('note_description').touched}">
                <label> Note Description</label>
                <input type="text" class="form-control" placeholder="Enter Description" formControlName="note_description" />
                <span class="help-block" *ngIf="form.get('note_description').invalid  && form.get('note_description').touched">
                  Please enter a Description.
                </span>
            </div>
          </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary pull-left" data-dismiss="modal" (click)="onClose()">Close</button>
          <button type="submit" class="btn btn-primary" [disabled]="isLoading">
              <span *ngIf="!isLoading">
                  <span *ngIf="mode === 'create'">Add</span>
                  <span *ngIf="mode === 'update'">Update</span>
              </span>
              <span *ngIf="isLoading">
                  <i class="fa fa-refresh fa-spin"></i>
              </span>

          </button>
      </div>
  </form>
</div>
