<div class="hold-transition sidebar-mini"
    [ngClass]="{'skin-blue': checkAdminType(),'skin-red-light': !checkAdminType()}">
    <div class="wrapper">
        <app-header></app-header>
        <app-sidebar></app-sidebar>
        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    Outstanding Payments
                </h1>
                <span class="breadcrumb">
                    <!-- <button type="button" class="btn bg-maroon" data-toggle="modal" data-target="#exampleModal">
                        Add
                    </button> -->
                </span>
            </section>
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-header d-flex align-items-center">
                                <!-- <h3 class="box-title">Outstanding Payment List</h3> -->

                                <div class="ct_flex_1 d-flex align-items-center" style="gap:10px">
                                    <label for="" class="ct_fs_18 ct_fw_500 mb-0 ct_white_nowrap">Group Type</label>
                                    <select class="form-control py-2 h-auto ct_input"
                                        style="border-radius: 5px;width: 100px;" [(ngModel)]="selectedGroupType"
                                        name="loan_type" (ngModelChange)="getUsers(usersPerPage, currentPage, search)">
                                        <!-- <option value="">All</option> -->
                                         <option value="" disabled>Select</option>
                                        <option value="loan">Loan</option>
                                        <option value="saving">Saving</option>
                                        <option value="miscellaneous">Miscellaneous</option>
                                    </select>
                                </div>

                                <!-- From Date -->
                                <div class="form-group ct_w_100_res_767 mb-0 ct_flex_1 d-flex align-items-center"
                                    style="gap:10px">
                                    <label class="ct_fs_18 ct_fw_500 mb-0">From<span
                                            class="ct_text_red">*</span></label>
                                    <div class="position-relative">
                                        <input type="date" class="form-control ct_input ct_fs_18"
                                            [(ngModel)]="startDate">
                                    </div>
                                </div>
                                <!-- To Date -->
                                <div class="form-group ct_w_100_res_767 mb-0 ct_flex_1 d-flex align-items-center"
                                    style="gap:10px">
                                    <label class="ct_fs_18 ct_fw_500 mb-0">To<span class="ct_text_red">*</span></label>
                                    <div class="position-relative">
                                        <input type="date" class="form-control ct_input ct_fs_18" [(ngModel)]="endDate"
                                            [disabled]="!startDate">
                                    </div>
                                </div>

                                <div class="d-flex  align-items-center  ml-auto" style="gap: 10px;">
                                    <button *ngIf="!isLoading"
                                        (click)="getUsers(this.usersPerPage, this.currentPage, this.search)"
                                        type="submit" class="btn btn-primary" style="height:37px"
                                        [disabled]="isLoading">
                                        <span *ngIf="!isLoading">Apply</span>
                                        <span *ngIf="isLoading"><i class="fa fa-refresh fa-spin"></i></span>
                                    </button>
                                    <button *ngIf="!isLoading" class="btn btn-primary" style="height:37px"
                                        (click)="reset()">Reset</button>
                                </div>

                                <input type="text" class="form-control w-25 rounded float-right ml-auto"
                                    placeholder="Search.." [(ngModel)]="search" (keyup)="keyPress()">
                            </div>
                            <div class="overlay" *ngIf="isLoadingPage && !isLoading">
                                <i class="fa fa-refresh fa-spin"></i>
                            </div>
                            <div class="box-body" *ngIf="isLoading">
                                <mat-spinner class="mx-auto"></mat-spinner>
                            </div>
                            <div class="box-body" *ngIf="users.length > 0 && !isLoading">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Email</th>
                                            <th>Amount</th>
                                            <th>Group Name</th>
                                            <th *ngIf="selectedGroupType == 'saving'">Payment Date</th>
                                            <th *ngIf="selectedGroupType != 'saving'">Created At</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let user of users, let i = index">
                                            <td>{{user.sno}}</td>
                                            <td>{{user.user_info.first_name}}</td>
                                            <td>{{user.user_info.last_name}}</td>
                                            <td>{{user.user_info.email}}</td>
                                            <td>
                                                <div *ngIf="user.amount">
                                                    {{user.amount}}
                                                </div>

                                                <div *ngIf="user.loan_amount">
                                                    {{user.loan_amount}}
                                                </div>
                                            </td>
                                            <td>{{user.type}}</td>
                                            <!-- <td *ngIf="selectedGroupType == 'saving'">{{user.date | date: 'dd/MM/yyyy'}}
                                            </td>
                                            <td *ngIf="selectedGroupType != 'saving'">{{user.created_at | date:
                                                'dd/MM/yyyy'}}</td> -->
                                                <td >{{user.created_at | date:
                                                'dd/MM/yyyy'}}</td>
                                            <td>
                                                <!-- <button type="button" class="btn btn-dark margin" data-toggle="modal"
                                                    data-target="#viewModal" ngbTooltip="View"
                                                    (click)="onUpdateView(user)">
                                                    <i class="fa fa-eye"></i>
                                                </button> -->
                                                <button type="button" class="btn btn-success margin" data-toggle="modal"
                                                    ngbTooltip="Send email to this circle users"
                                                    data-target="#emailModal" (click)="getDetails(user)">
                                                    Send email
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <mat-paginator [length]="totalUsers" [pageSize]="usersPerPage"
                                (page)="onChangedPage($event)" *ngIf="users.length > 0"></mat-paginator>

                            <div class="box-body" *ngIf="users.length <= 0 && !isLoading">
                                You have'nt had any user yet!
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <app-footer></app-footer>
    </div>
</div>

<!-- assign mailModal popup start -->
<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="moveModalLabel" aria-hidden="true"
    [ngStyle]="{'display':display}">
    <form>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Are you sure you want to send this user reminder?</div>
                <div class="modal-footer">
                    <!-- <button class="btn btn-primary" >Yes</button> -->
                    <button (click)="sendEmail()" type="submit" class="btn btn-primary "
                        [disabled]="isLoadingBtn">
                        <span *ngIf="!isLoadingBtn">Yes</span>
                        <span *ngIf="isLoadingBtn"><i class="fa fa-refresh fa-spin"></i></span>
                    </button>
                    <button class="btn btn-secondary" type="button" data-dismiss="modal" id="closeBlock2"
                        #closeBlock2>Close</button>
                </div>
            </div>
        </div>
    </form>
</div>