.loanbox p {
  margin: 0 0 12px;
  border: 1px solid #bbb7b7;
  padding: 15px;
  margin-bottom: 10px;
  font-weight: 600;

}
/* .loanbox p span{
  border: 1px solid #e7e5e5;
} */
.modal-dialog
{
  pointer-events: auto !important;
}

