<div class="hold-transition sidebar-mini" [ngClass]="{'skin-blue': checkAdminType(),'skin-red-light': !checkAdminType()}">
  <div class="wrapper">

      <app-header></app-header>
    <!-- Left side column. contains the logo and sidebar -->
    <app-sidebar></app-sidebar>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Terms & Conditions
        </h1>
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Update Terms & Conditions</h3>
              </div>
              <!-- /.box-header -->
              <!-- form start -->
              <div class="overlay" *ngIf="isLoading">
                <i class="fa fa-refresh fa-spin"></i>
              </div>
                <div class="box-body">
                  <div class="form-group">
                    <label>Info</label>
                    <ckeditor
                      #editor
                      [(ngModel)]="info"
                      id="description"
                      name="description"
                      [config]="{ extraPlugins: 'divarea' }">
                    </ckeditor>
                  </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                  <button type="submit" class="btn btn-primary" (click)=onSave()>submit</button>
                </div>
            </div>
          </div>
        </div>
        <!-- /.row -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <app-footer></app-footer>
  </div>
  <!-- ./wrapper -->
  </div>
