<div class="modal-content">
  <div class="modal-header">
      <h5 class="modal-title">User Detail</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closePopup" (click)="onClose()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
      <div class="box-body" *ngIf="isLoading">
          <mat-spinner class="mx-auto"></mat-spinner>
      </div>
      <div class="modal-body" *ngIf="!isLoading">
        <div class="box-body box-profile" *ngIf="!isLoading">
          <div class="text-center">
          <img class="profile-user-img img-responsive img-circle" [src]="user.profile_image_thumb" alt="User profile picture">
          </div>
          <h3 class="profile-username text-center">{{user.first_name}} {{user.last_name}}</h3>
          <p class="text-muted text-center">{{user.email}}</p>
          <ul class="list-group list-group-unbordered">
             <li class="list-group-item">
                <b>First Name</b> <a class="pull-right">{{user.first_name}}</a>
             </li>
             <li class="list-group-item">
                <b>Last Name</b> <a class="pull-right">{{user.last_name}}</a>
             </li>
             <li class="list-group-item">
                <b>Email</b> <a class="pull-right">{{user.email}}</a>
             </li>
             <li class="list-group-item">
               <b>Created On</b> <a class="pull-right">{{user.created_at  | date: 'dd/MM/yyyy'}}</a>
            </li>
          </ul>
       </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary pull-left" data-dismiss="modal" (click)="onClose()">Close</button>
      </div>
</div>

