<div class="hold-transition sidebar-mini" [ngClass]="{'skin-blue': checkAdminType(),'skin-red-light': !checkAdminType()}">
  <div class="wrapper">

      <app-header></app-header>
    <!-- Left side column. contains the logo and sidebar -->
    <app-sidebar></app-sidebar>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Sub Admins
        </h1>
        <span class="breadcrumb">
          <button type="button" class="btn bg-maroon" data-toggle="modal" data-target="#exampleModal" (click)="onAdd()">
            Add
          </button>
        </span>
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="box">
              <div class="box-header d-flex align-items-center">
                <h3 class="box-title">Sub Admin List</h3>
                <input type="text" class="form-control w-25 rounded float-right ml-auto" *ngIf="!isLoading"  placeholder="Search.." [(ngModel)]="search" (keyup)="keyPress()">
              </div>
              <!-- /.box-header -->
              <div class="overlay" *ngIf="isLoadingPage && !isLoading">
                <i class="fa fa-refresh fa-spin"></i>
              </div>
              <div class="box-body"  *ngIf="isLoading">
                <mat-spinner  class="mx-auto"></mat-spinner>
              </div>
              <div class="box-body" *ngIf="users.length > 0 && !isLoading">
                  <table id="example2" class="table table-bordered table-hover">
                      <thead>
                      <tr>
                        <th>#</th>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Phone Number</th>
                          <th>Create On</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let user of users">
                          <td>{{user.sno}}</td>
                          <td>{{user.name}}</td>
                          <td>{{user.email}}</td>
                          <td>{{user.phone}}</td>
                          <td>{{user.created_at}}</td>
                          <td>
                            <button type="button" class="btn btn-primary margin" data-toggle="modal" data-target="#exampleModal" ngbTooltip="Edit" (click)="onUpdate(user.id)">
                              <i class="fa fa-edit"></i>
                            </button>
                              <button type="button" class="btn btn-success margin" data-toggle="modal" data-target="#blockModal" ngbTooltip="Block" (click)="onSetId(user.id)" *ngIf="user.status === '1'" >
                                <i class="fa fa-ban" aria-hidden="true"></i>
                              </button>
                              <button type="button" class="btn btn-danger margin" data-toggle="modal" data-target="#unblockModal" ngbTooltip="UnBlock" (click)="onSetId(user.id)" *ngIf="user.status === '2'">
                                <i class="fa fa-ban" aria-hidden="true"></i>
                              </button>

                              <button type="button" class="btn btn-danger margin" data-toggle="modal" data-target="#deleteModal" ngbTooltip="Delete" (click)="onSetId(user.id)">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                              </button>

                              <!-- <button type="button" class="btn btn-dark margin" data-toggle="modal" data-target="#viewModal" ngbTooltip="View" (click)="onUpdate(user.id)">
                                <i class="fa fa-eye"></i>
                              </button> -->
                          </td>
                      </tr>
                      </tbody>
                  </table>
              </div>
              <mat-paginator [length]="totalUsers" [pageSize]="usersPerPage"  (page)="onChangedPage($event)"
                *ngIf="users.length > 0"></mat-paginator>
              <div class="box-body"  *ngIf="users.length <= 0 && !isLoading">
                You have'nt had any user yet!
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <app-footer></app-footer>
  </div>
  </div>
  <!-- ./wrapper -->



  <!-- block model popup start -->
  <div class="modal fade show" id="blockModal" tabindex="-1" role="dialog" aria-labelledby="blockModalLabel" aria-hidden="true" [ngStyle]="{'display':display}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close" (click)="onClose()">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Do You Realy Want To Block This Sub Admin</div>
          <div class="modal-footer">
            <button class="btn btn-primary" (click)="onBlockUnblock('2')">BLOCK</button>
            <button class="btn btn-secondary" type="button" data-dismiss="modal" id="closeBlock">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- block model popup end -->
    <!-- unblock model popup start -->
    <div class="modal fade show" id="unblockModal" tabindex="-1" role="dialog" aria-labelledby="unblockModalLabel" aria-hidden="true" [ngStyle]="{'display':display}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close" (click)="onClose()">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Do You Realy Want To Unblock This Sub Admin</div>
          <div class="modal-footer">
            <button class="btn btn-primary" (click)="onBlockUnblock('1')">UNBLOCK</button>
            <button class="btn btn-secondary" type="button" data-dismiss="modal" id="closeUnblock">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- block model popup end -->
        <!-- unblock model popup start -->
        <div class="modal fade show" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true" [ngStyle]="{'display':display}">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close" (click)="onClose()">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">Do You Realy Want To Delete This Sub Admin</div>
              <div class="modal-footer">
                <button class="btn btn-primary" (click)="onDelete()">Delete</button>
                <button class="btn btn-secondary" type="button" data-dismiss="modal" id="closeDelete">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- block model popup end -->





    <div class="modal fade" id="viewModal">
      <div class="modal-dialog">
        <app-user-detail [uniqueId]= "updateId" [eachChange]= "eachChange"></app-user-detail>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

    <div class="modal fade show" id="exampleModal" [ngStyle]="{'display':display}">
      <div class="modal-dialog modal-lg">
        <app-subadmin-add [uniqueId]= "updateId" [eachChange]= "eachChange" [add]= "add" (valueChange)="hidePopup($event)" (closeModal)="closeModalF($event)"></app-subadmin-add>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

